<template>
  <div>
    <el-breadcrumb separator="/">
      <el-breadcrumb-item
        v-for="(item,index) in $route.meta"
        :key="index"
        :to="{ path: item.path }"
      >{{item.label}}</el-breadcrumb-item>
    </el-breadcrumb>
    <default-form ref="form" :rule="rule" :options="options" :formData="formData"></default-form>
  </div>
</template>

<script>
import request from "@library/api/_request"
import DefaultForm from '@/components/DefaultForm'
import {config} from '@properties/ConfigPath'
export default {
  name: 'DefaultTemplate',
  components: {DefaultForm},
  data(){
    const vm = this
    return {
      config: config,
      rule: [],
      options:{
        onSubmit(formData){
          if(vm.type==='add'){
            request({
              url: vm.config.api.post,
              type: 'POST',
              data:formData
            }).then(()=>{
              vm.$message({
                type: 'success',
                message: '提交数据成功'
              })
              vm.$router.go(-1)
            })
          }else{
            const data = {...formData, ...{id: vm.id}}
            request({
              url: vm.config.api.post,
              type: 'put',
              data
            }).then(()=>{
              vm.$message({
                type: 'success',
                message: '提交数据成功'
              })
              vm.$router.go(-1)
            })
          }
        },
        resetBtn: {
          show: true,
          innerText:'取消',
          round:false,
          type:'default',
          icon:'',
          click : function(){
            vm.$router.go(-1)
          }
        }
      },
      formData: {},
      type: '',
      id: ''
    }
  },
  created(){
    this.getForm(this.config)
    if(this.$route.query && this.$route.query.type){
      this.type = this.$route.query.type
    }
    if(this.type==='edit'){
      this.id = this.$route.query.id
      this.getFormData(this.id)
    }
  },
  methods: {
    getForm(config){
        this.rule = config.rule
        this.api = config.api
    },
    getFormData(id){
      const url = this.api.get + '/?id=' + id
      request({
        type: 'GET',
        url: url,
        formContentType: false  //如果后端要求get请求时， content-type不能是application/json， 则改为true
      }).then(res=>{
        this.formData = res.data.result
      })
    }
  }
}
</script>

<style>

</style>