<template>
  <div>
    <el-breadcrumb separator="/">
      <el-breadcrumb-item
        v-for="(item,index) in $route.meta"
        :key="index"
        :to="{ path: item.path }"
        >{{item.label}}</el-breadcrumb-item>
      </el-breadcrumb>
    <default-filter ref="filterForm" v-if="filters" :filters="filters"></default-filter>
    <div class="add-btn" v-if="addBtn.show">
      <el-button type="primary" icon="el-icon-plus" @click="goToaddData(addBtn.path)">{{addBtn.label}}</el-button>
    </div>
    <default-table :filterUrl="filterUrl" :columns="columns" :commands="commands" :showOperator="showOperator" :tableData="tableData" :pageInfo="pageInfo"></default-table >
  </div>
</template>

<script>
import request from "@library/api/_request"
import DefaultFilter from '@/components/DefaultFilter'
import DefaultTable from '@/components/DefaultTable'
import {config} from '@properties/ConfigPath'
export default {
  name: 'DefaultTemplate',
  components: {DefaultTable, DefaultFilter},
  data(){
    return {
      config: config,
      columns: [],
      showOperator: false,
      showDialog: false,
      tableData: [
      ],
      pageInfo: {
        page:1,
        count:20,
        total: 0
      },
      filters: {},
      api: '',
      addBtn: {},
      commands: [
      ],
      filterUrl: ''
    }
  },
  created(){
    if(this.$route.query?.page){
      this.pageInfo.page = this.$route.query.page
    }
    if(this.$route.query?.count){
      this.pageInfo.count = this.$route.query.count
    }
    if(this.$route.query?.filterUrl){
      this.filterUrl = this.$route.query.filterUrl
    }
    this.getColumns(config)
  },
  methods: {
    refresh(){
      let url = config.api.get + '?'
      if(this.filterUrl){
        url = this.filterUrl + '&'
      }
      url = url + 'count='+ this.pageInfo.count + '&page=' + this.pageInfo.page
      this.getData(url)
    },
    getColumns(config){
      this.columns = config.columns || []
      this.commands = config.commands || []
      this.showOperator = config.showOperator || false
      this.filters = config.filters || {}
      this.addBtn = config.addBtn?config.addBtn:{}
      this.api = config.api || {}
      this.getData(config.api.get)
    },
    getData(url){
      request({
        url: url,
        type: 'GET',
        formContentType: false  //如果后端要求get请求时， content-type不能是application/json， 则改为true
      }).then(res=>{
        this.tableData = res.data.result.data
        this.pageInfo = res.data.result.page_info
      })
    },
    getFilterData(filters){
      let url = this.api.get + "?"
      for(const key in filters){
        if(String(filters[key])){
          url += key + "=" + filters[key] + '&'
        }
      }
      url = url.substring(0, url.length-1)
      this.filterUrl = url
      this.getData(url)
    },
    goToaddData(path){
      this.$router.push({path: path, query: {"type": "add"}})
    },
    handleSizeChange(val){
      this.pageInfo.count = val
      const url = this.api.get + '?count='+ this.pageInfo.count + '&page=' + this.pageInfo.page
      this.getData(url)
    },
    handleCurrentChange (val) {
      this.pageInfo.page = val
      const url = this.api.get + '?count='+ this.pageInfo.count + '&page=' + this.pageInfo.page
      this.getData(url)
    },
  },
  watch:{
    '$store.state.serverRefresh':{
      handler(v){
        if(v){
          this.refresh()
        }
      }
    }
  }
}
</script>

<style lang="scss">
  .add-btn{
    margin-bottom: 20px;
    float: right;
  }
</style>