<template>
  <div>
    <el-breadcrumb separator="/">
      <el-breadcrumb-item
        v-for="(item,index) in $route.meta"
        :key="index"
        :to="{ path: item.path }"
        >{{item.label}}</el-breadcrumb-item>
      </el-breadcrumb>
    <default-timeline :activities="activities" :reverse="reverse" :path="config.path"></default-timeline>
  </div>
</template>

<script>
import request from "@library/api/_request"
import DefaultTimeline from '@/components/DefaultTimeline'
import {config} from '@properties/ConfigPath'
export default {
  name: "TimelineTemplate",
  components: {DefaultTimeline},
  data(){
    return {
      activities: [],
      reverse: true,
      config: config,
    }
  },
  created(){
    this.getData()
  },
  methods:{
    getData(){
      request({
        url: this.config.api.get,
        type: 'GET'
      }).then(res=>{
        this.activities = res.result.data
      })
    }
  }
}
</script>

<style>

</style>