/* reset css */
html,body{
    height: 100%;
}
body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
input {
    margin:0;
    padding: 0;
}

body {
    font-size: 14px;
}

img {
    border: none;
}

li {
    list-style-type: none;
}

input,
select,
textarea {
    outline: none;
}

textarea {
    resize:none;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",
               Helvetica,Arial,
               "Hiragino Sans GB",
               "Hiragino Sans GB W3",
               "Microsoft YaHei UI",
               "Microsoft YaHei",
               "WenQuanYi Micro Hei",
               sans-serif;
  -webkit-font-smoothing: antialiased;
}
