<template>
  <div class="default-table">
    <el-table
      :data="tableData"
      border
      style="width: 100%">
      <el-table-column v-for="(item, index) in bindColumns" :key="index"
        :prop="item.prop"
        :label="item.label"
        :width="item.width"
        :sortable="item.sortable"
      >
        <template slot-scope="scope">
          <div v-if="item.html" v-html="scope.row[item.prop]"></div>
          <div v-else>{{item.format?item.format(scope.row):scope.row[item.prop]}}</div>
        </template>
      </el-table-column>
      <el-table-column
      fixed="right"
      label="操作"
      v-if="showOperator"
      >
      <template slot-scope="scope">
        <div class="table-more-btn" @click.stop>
          <el-dropdown trigger="click" @command="handleCommand">
            <span class="el-dropdown-link">
              更多
            </span>
            <el-dropdown-menu slot="dropdown" >
              <el-dropdown-item v-for="(item, index) in commands" :key="index"
                :command="{type: item.type, 'row': scope.row, 'fun': item.fun}"
              >{{item.label}}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </template>
    </el-table-column>
    </el-table>
    <div class="pagination" v-if="tableData.length">
      <el-pagination
        background
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="+pageInfo.page"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="+pageInfo.count"
        layout="total, sizes, prev, pager, next, jumper"
        :total="+pageInfo.total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DefaultTable',
  props: {
    columns:{
      type: Array,
      default: ()=>{
        return [
          {
            "prop": "id",
            "label": "ID",
            "sortable": true
          },
          {
            "prop": "title",
            "label": "标题"
          }
        ]
      }
    }, 
    commands:{
      type: Array,
      default: ()=>{
        return [
          {
            type: "edit",
            label: "编辑",
            fun: function(row){
              this.$router.push({path: "", query: {'row': JSON.stringify(row)}})
            }
          },
          {
            type: "delete",
            label: "删除",
            fun: function(){
              console.log("点击了删除");
            }
          }
        ]
      }
    }, 
    tableData:{
      type: Array,
      default: ()=>[]
    },
    showOperator:{
      type: Boolean,
      default: true
    },
    pageInfo:{
      type: Object,
      default: ()=>{
        return {
          page: 1,
          count: 20,
          total: 0
        }
      }
    },
    filterUrl: {
      type: String,
      default: ''
    }
  },
   computed:{
    bindColumns(){
      return this.columns.filter((column) => column.show!=false);
    }
  },
  methods: {
    handleCommand(command){
      command.row.page = this.pageInfo.page
      command.row.filterUrl = this.filterUrl
      command.fun.call(this.$parent, command.row)
    },
    handleSizeChange(val){
    this.$parent.handleSizeChange(val)
    },
    handleCurrentChange (val) {
      this.$parent.handleCurrentChange(val)
    }
  }
}
</script>

<style lang='scss'>
.default-table{
  .table-more-btn{
    cursor: pointer;
    .el-dropdown-link{
      color: #037aff;
    }
  }
  .pagination{
    margin-top: 20px;
    float: right;
  }
}
</style>