<template>
  <div class="default-header">
    <div class="default-header-logo"></div>
    <div class="default-header-name">
      appName
    </div>
  </div>
</template>

<script>
export default {
  name: 'DefaultHeader'
}
</script>

<style lang='scss'>
  .default-header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    .default-header-name{
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
  }
</style>