<template>
  <div class="default-filter">
    <form-create v-if="show" :rule="rule" v-model="formInstance" :option="options" :value.sync="formData"/>
    <el-button type="primary" icon="el-icon-search" @click="getFilterData" v-if="show"></el-button>
  </div>
</template>

<script>
export default {
  name: "DefaultFilter",
  props: {
    filters: {
      type: Object,
      default: ()=>{}
    }
  },
  data(){
    return {
      rule: [],
      formInstance: {},
      options: {
      //不显示表单重置按钮
      resetBtn: false,
      //不显示提交按钮
      submitBtn: false
      },
      formData: {}
    }
  },
  computed:{
    show(){
      return JSON.stringify(this.filters)!=='{}'
    }
  },
  created(){
    if(this.filters){
      this.rule = this.filters.rule
    }
  },
  methods: {
    getFilterData(){
      console.log('formData', this.formData);
      this.$parent.getFilterData(this.formData)
    }
  }
}
</script>

<style lang="scss">
  .default-filter{
    display: flex;
    margin-bottom: 20px;
    &>.el-form>.el-row{
      display: flex;
      &>.el-col{
        margin-right: 10px;
      }
    }
    .el-button{
      height: 40px;
    }
  }
</style>