<template>
  <div class="default-form">
    <form-create :rule="rule" v-model="formInstance" :option="options" :value="formData"/>
  </div>
</template>

<script>
export default {
  name: 'DefaultForm',
  props: ['rule', 'options', 'formData'],
  data(){
    return {
      formInstance: {},
    }
  },
  mounted(){
    this.resetForm()
  },
  methods:{
    resetForm(){
      for(let i=0;i<this.rule.length;i++){
        this.formInstance.setValue(this.rule[i]['field'], '')
      }
    },
    onSubmit(){
      this.$parent.onSubmit(this.formData)
    },
    cancel(){
      this.$parent.cancel()
    }
  }
}
</script>

<style lang='scss'>
  .default-form{
    .form-footer-btn{
      display: flex;
      justify-content: center;
    }
  }
</style>