<template>
  <div class="default-timeline">
    <el-timeline>
      <el-timeline-item
        :reverse="reverse"
        v-for="(activity, index) in activities"
        :key="index"
        :icon="activity.icon"
        :type="activity.type"
        :color="activity.color"
        :size="activity.size"
        :timestamp="$utils.formatDate(+activity.timestamp)">
        <router-link :to="{ path: path, query: { id:  activity.id}}">{{activity.content}}</router-link>
      </el-timeline-item>
    </el-timeline>
  </div>
</template>

<script>
export default {
  name: "DefaultTimeline",
  props: {
    activities:{
      type: Array,
      default: ()=>[]
    },
    reverse: {
      type: Boolean,
      default: true
    },
    path: {
      type: String,
      default: ''
    }
  }
}
</script>

<style>

</style>