<template functional>
  <el-submenu :index="props.data.id.toString()" v-if="props.data.show">
    <template slot="title">
      <img v-if="props.data.icon" :src="props.data.icon[0].url" alt="">
      <img v-if="props.data.active_icon" :src="props.data.active_icon[0].url" alt="">
      <span>{{props.data.label}}</span>
    </template>
    <template v-for="item in props.data.children">
      <a @click="parent.$router.push(item.router)" :key="item.id" v-if="(!item.children || (item.children && !item.children.length) && !Object.prototype.hasOwnProperty.call(item, 'method')) && item.show">
        <el-menu-item class="subitem" :index="item.id.toString()">
          <img v-if="props.data.icon&&props.data.activeIndex!==item.id" :src="props.data.icon[0].url" alt="">
          <img v-if="props.data.active_icon&&props.data.activeIndex===item.id" :src="props.data.active_icon[0].url" alt="">
          <span slot="title">{{item.label}}</span>
        </el-menu-item>
      </a>
      <a @click="parent.$router.push(item.router)" :key="item.id" v-else-if="item.show && item.children.length && Object.prototype.hasOwnProperty.call(item.children[0], 'method')">
        <el-menu-item :index="item.id.toString()">
          <img v-if="props.data.icon&&props.data.activeIndex!==item.id" :src="props.data.icon[0].url" alt="">
          <img v-if="props.data.active_icon&&props.data.activeIndex===item.id" :src="props.data.active_icon[0].url" alt="">
          <span slot="title">{{item.label}}</span>
        </el-menu-item>
      </a>
      <span v-else-if="item.show && item.children.length===0 && Object.prototype.hasOwnProperty.call(item, 'method')" :key="item.id">{{item.label}}</span>
      <side-sub-menu v-else :data="item" :key="item.id"></side-sub-menu>
    </template>
  </el-submenu>
</template>