<template>
  <div class="default-side-menu">
    <div>
      <el-menu
        :background-color="backgroundColor"
        :text-color="textColor"
        :active-text-color="activeTextColor"
        :default-active="defaultActive"
        :collapse="collapse"
        :unique-opened="true"
         @select="handleSelect"
      >
        <template v-for="item in list">
          <a @click="$router.push(item.router)" :key="item.id" v-if="item.show&&!item.children || (item.children&&!item.children.length) && !Object.prototype.hasOwnProperty.call(item, 'method')">
            <el-menu-item :index="item.id.toString()">
              <img v-if="item.icon&&activeIndex!==item.id" :src="item.icon[0].url" alt="">
              <img v-if="item.active_icon&&activeIndex===item.id" :src="item.active_icon[0].url" alt="">
              <span slot="title">{{item.label}}</span>
            </el-menu-item>
          </a>
          <a @click="$router.push(item.router)" :key="item.id" v-else-if="item.show && item.children.length!=0 && Object.prototype.hasOwnProperty.call(item.children[0], 'method')">
            <el-menu-item :index="item.id.toString()">
              <img v-if="item.icon&&activeIndex!==item.id" :src="item.icon[0].url" alt="">
              <img v-if="item.active_icon&&activeIndex===item.id" :src="item.active_icon[0].userLogoUri" alt="">
              <span slot="title">{{item.label}}</span>
            </el-menu-item>
          </a>
          <span v-else-if="item.show && item.children.length===0 && Object.prototype.hasOwnProperty.call(item, 'method')" :key="item.id">{{item.label}}</span>
          <side-sub-menu v-else :data="item" :key="item.id" :activeIndex="activeIndex"></side-sub-menu>
        </template>
      </el-menu>
    </div>
  </div>
</template>

<script>
import router from '@/router'
import SideSubMenu from "./SideSubMenu"
import {config} from '@properties/SideMenu.js'
export default {
  name: "SideMenu",
  components: {
    SideSubMenu
  },
  data() {
    return {
      config: config,
      collapse: false, //是否折叠
      backgroundColor: "#F6FAFF", //导航菜单背景颜色
      textColor: "#333", //导航菜单文字颜色
      activeTextColor: "#037AFF",
      logo: "LOGO", //logo
      app: '',
      list: [],
      defaultActive: '',
      applicationKey: '',
      activeIndex: 0,
      routes: []
    };
  },
  created(){
    this.getSideMenu(this.config).then(res=>{
      this.routes = []
      const routes = this.addRoute(res, this.routes)
      router.addRoutes(routes)
    });
  },
  methods: {
    handleSelect(key) {
      this.activeIndex = key
    },
    getActiveMenu(data, path) {
      let value = null;
      for (let index = 0; index < data.length; index += 1) {
        if (data[index].router === path) {
          value = data[index];
          break;
        }
        if (data[index].children instanceof Array && data[index].children.length > 0) {
          const text = this.getActiveMenu(data[index].children, path);
          if (text)
            return text;
        }
      }
      return value;
    },
    getSideMenu(config){
        return new Promise((resolve, reject)=>{
         try {
            this.list = config.data
            const path = this.$route.path
            const activeItem = this.getActiveMenu(this.list, path)
            this.defaultActive = activeItem.id.toString()
            this.activeIndex = activeItem.id
            resolve(this.list)
         } catch (error) {
            reject(error)     
         } 
        })
    },
    addRoute(data, routes=[]){
      for(const i in data){
        if(data[i].children){
          this.addRoute(data[i].children, routes)
        }else if(data[i].router){
          routes.push({
            path: data[i].router,
            name: data[i].name,
            component: resolve => require([`@/views/${data[i].component}`],resolve),
            meta: data[i].meta
          })
        }
      }
      return routes
    }
  },
   watch: {
    '$route.path': function () {
      this.getSideMenu(this.config)
    }
   }
}
</script>

<style lang="scss">
html{
  height: 100%;
}
.default-side-menu{
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  width: 220px;
  height: 100%;
  padding: 16px 12px 0 12px;
  .el-menu{
    border: none;
    .el-menu-item{
      border-radius: 8px;
      font-family: SourceHanSansCN, SourceHanSansCN-Medium;
      font-weight: 600;
      margin-bottom: 6px;
      img{
        width: 20px;
        height: 20px;
        margin-right: 14px;
      }
      &:hover{
        font-weight: 600;
      }
    } 
    .is-active{
      background-color: #e9f2ff !important;
    }
  }
  .el-submenu__title, .el-menu-item{
    width: 196px;
    height: 48px;
    line-height: 48px;
    padding: 0;
    font-weight: 600;
    &:hover{
      background-color: #e9f2ff !important;
      border-radius: 8px;
      font-size: 14px;
      font-family: SourceHanSansCN, SourceHanSansCN-Medium;
      font-weight: 600;
      text-align: left;
      color: #037aff !important;
    }
  }
}
</style>