<template>
  <div id="app">
    <!-- <div class="header">
      <default-header/>
    </div> -->
    <div class="default-body">
      <div class="default-left-side">
        <side-menu/>
      </div>
      <div class="default-content">
        <router-view/>
      </div>
    </div>
  </div>
</template>
<script>
import "@/styles/common.css"
import DefaultHeader from '@/components/DefaultHeader'
import SideMenu from '@/components/SideMenu'
export default {
  name: 'App',
  components: {DefaultHeader, SideMenu}
}
</script>
<style lang='scss'>
  $header-height: 60px;
  $side-width: 220px;
  #app{
    height: 100vh;
    .header{
      width: 100%;
      height: $header-height;
      position: fixed;
      top: 0;
      z-index: 10;
      background-color: #037aff;
    }
    .default-body{
      height: calc(100% - #{$header-height});
      margin-top: $header-height;
      display: flex;
      .default-left-side{
        position: fixed;
        width: $side-width;
        height: calc(100% - #{$header-height});
        background-color:#F6FAFF;
        border-right-color: #F6FAFF;
      }
      .default-content{
        flex: 1;
        margin-left: $side-width;
        padding: 20px;
      }
    }
  }
</style>
